
.search-bar {
    margin-bottom: 32px;
}

.spacement {
    margin: 12px 0px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-edges {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-text-icon {
    display: flex
}

.divider {
    border-top: 1px solid #E1E1E1;
    margin: 12px 0px;
}

@media only screen and (max-width: 600px) {
    .container-edges {
        flex-direction: column;
    }
    .container-text-icon {
     margin-top: 12px;
    }
  }